
.header{
	border-bottom: 1px solid #C7C7C7;
	padding-bottom: 5px;

}
.header .title{
	font-size: 24px;
}
.messenger{
	text-transform: uppercase;
  	font-size: 0.8em;
  	color: rgb(89, 175, 255);
  	display: inline-block;
}
.messenger img{
	width: 15px;
	height: 15px;
}
.messenger span.time{
	color: #C7C7C7
}
.call-icon img{
	margin-top: 10px;
	width: 30px;
	height: 29px;
	float: right;
}

.options-icon img{
	margin-top: 13px;
  	margin-right: 13px;
 	width: 10px;
  	height: 29px;
  	float: right;
}
.circu img{
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin-top: 10px;
}

.circu img.circu-1{
	margin-left: 50px;
}

.circu img.circu-2{
	margin-right: 50px;
}

.user p{
	border-radius: 37px;    
    padding: 20px; 
    margin: 10px 0px;
    width: 100%;
    font-size: 1.1em;
  	line-height: 2em;
  	text-align: justify;
}
.user p.round-corner-1{
	border-radius: 37px 50px 50px 5px;
}
.user p.round-corner-2{
	border-radius: 5px 50px 50px 37px;
}

.user-1 p{
	background: #CBC7C7;
	color: #000;
}
.user-2 p{
	background: #67ADFD;
	color: #FFF;
}

.date-with-time{
	color: #C7C7C7;
	text-align: center;
}

.write{
	border-top: 1px solid #C7C7C7;
	margin-top: 20px;
	padding: 10px;
}
.write span{
	/*margin: 10px 0;*/
	width: 100%;
	height: 50px;
	color: #C7C7C7;
	text-align: center;
	margin-left: 30px ;
}

.seen{
	color: #C7C7C7;
	text-align: right;
	padding-right: 20px;
}
.misc-icons{
	padding: 10px;
	margin-left: 30px; 
}

.misc-icons img{
	width: 40px;
	height: 40px;
}
.misc-icons img.bluedot{
	margin-left: 4px;
	width: 10px;
	height: 10px;
}


