
/* --------------------------------------
=========================================
KreFolio - Startup Agency Landing Page Template
Version: 1.0 (Initial Release)
Designed By: E. A. Siblu (www.facebook.com/EASiblu)
Developed By: Zahidul Hossain (http://twitter.com/ch0yan)

/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;

}
/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
li {
  list-style: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border: 1px solid rgb(215, 205, 205);
}
th, td{
  border: 1px solid rgb(215, 205, 205);
}
/* Browser Upgrade Prompt
 ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background:  #3399CC;
  color: #fff;
  text-shadow: none;
}
::selection {
  background:  #3399CC;
  color: #fff;
  text-shadow: none;
}
/* ==========================================================================
   1.2 Helper classes
   ========================================================================== */
.main-bg {
  background:  #666;
}
.main-color {
  color:  #202020;
  
}
.sec-color{
  color: #3399CC;
}
.white-color {
  color: #fff;
}
.button {
  padding: 20px 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
}
.button:hover {
  cursor: pointer;
  color: #fff;
}
.button.light {
  padding: 19px 59px;
}
.line {
  width: 150px;
  height: 2px;
  margin: 15px auto 45px;
}
.button.light {
  border: 2px solid #eeeeee;
}

.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding-top-large {
  padding-top: 90px;
}
.margin-top-large {
  margin-top: 90px;
}
.margin-bottom-large {
  margin-bottom: 90px;
}
.margin-top-medium {
  margin-top: 40px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.margin-right-small {
  margin-right: 15px;
}
.margin-left-small {
  margin-left: 15px;
}
.mat-none {
  margin-top: 0;
}
.mab-none {
  margin-bottom: 0;
}
.mar-none {
  margin-right: 0;
}
.mal-none {
  margin-left: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}

.delay1 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.delay2 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay3 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.delay4 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.delay5 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

/*====================================================
    Fixed Navigation

======================================================*/
#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
#navigation > .container {
border-bottom: 1px solid #636364;
}

.animated-nav .navbar-brand {
  padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 23px 25px;
}

#navigation > .container {
  border-bottom: 1px solid #636364;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

.navbar-brand {
  height: inherit;
  padding: 30px 10%;
}

.navbar-brand a {
  display: block;
}

.navigation .navbar-nav > li > a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 38px 25px;
  text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
  color: #00C7FC;
  border-bottom: 1px solid #00C7FC;
}

.animated-nav .navigation .navbar-nav > li.current > a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}
.animated-nav .search-form > #search-sub {
    bottom: 22px;
}
/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 20px;
  right: 115px;
}
.mobilenav {
  /*    top: 47px !important;*/
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:  #3399CC;
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 60px;
}
/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/*========== Loader ===========*/
#link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
#link:hover {color: #CCCCCC}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
        
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
            background: #000;
            display: none;
        }


        .loading-container { margin: 40px auto }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }
/* ========================================================================
  2.1 Component: Header
 ========================================================================== */

header.navbar-fixed-top {
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    border-bottom: 1px solid #666;
}
header.navbar-fixed-top .top-border{
    background: url("../images/top-border.png");
    height: 1px;
    width: 100%;
}

header {
  position: relative;
}

#slider div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/slider-overlay.png) repeat;
}

header h1 span.header-title{
  font-family:Amaze;
  font-size: 30px;
  color: #fff;
}

header span.circular{
  background:  url(../images/small-1.jpg) no-repeat;
  background-position: -5px 2px;
  width: 30px;
  height: 30px;
  border-radius: 150px;
  display: inline-block;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-right: 20px;
  border: 1px solid #575656;
}

.icon-prev,
.icon-next {
  font-size: 60px !important;
}
header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10;
}

/*============================================================
    Profile
============================================================*/
.profile{
  padding: 45px 0px 80px;
}
.primary-section, .primary-section .title p, .primary-section h3 {
  color: #000;
}
.section .title h1 {
  font-weight: normal;
  margin-bottom: 20px;
  padding: 0;
}
.primary-section .title {
  border-bottom: 1px solid #B8B0B0;
}
.section .container {
  padding-top: 50px;
}
.text-center {
  text-align: center;
}
.primary-section h1 {
  color: #000;
}
.section .title {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  background: #191a1c;
}
.profile-box{
  padding-left: 49px;
}
.profile-box .thumbnail {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  border: 1px solid #EAEAEA;
}
.margin-profile {
  margin-right: 30px;
}
.profile-box .thumbnail .mask {
  background: #837f89;
}
.profile-box .thumbnail .mask, .profile-box .thumbnail .mask h3, .profile-box .thumbnail .mask p, .profile-box .thumbnail:hover h3, .profile-box .thumbnail:hover .social a:hover {
  color: #FFFFFF;
}
.thumbnail .mask {
  opacity: 0.85;
  filter: alpha(opacity=85);
  top: 100%;
  left: 0;
  padding: 100px 30px;
  width: 100%;
  height: 100%;
  background: #F4EB8E;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2 s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.thumbnail > img {
  display: block;
  width: 400px;
  height: 460px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail:hover .mask {
    top:0;
}
.profile-box-title {
    position:relative;
    margin:20px auto;
    text-align: center;
}
.mask p{
  text-align: justify;
}
.mask-a{
  color: #f0f0f0;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
}

.mask-a:hover{
    color: rgb(45, 47, 62);
}

.thumbnail{
  min-height: 36px;
  background: url('../images/loading_32.gif') 50% 50% no-repeat;
  background: url('../images/loading_32.gif') 50% 50% no-repeat, url('../images/loading_bg_32.png') 50% 50% no-repeat;

}

.engineTable {
  width: 100%;
  border-collapse: collapse;
  padding: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  line-height: normal;
}

.engineTable th {
  padding: 7px 3px 9px 6px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #222222;
  text-align: center;
  background: rgb(217, 221, 226);
}
.engineTable .best-performance th{
    background: rgb(198, 200, 203);
  font-size: 15px;
  border: 1px solid rgb(229, 229, 229);
  
}
.engineTable .best-stat-heading th{
    background: rgb(217, 221, 226);
  font-size: 14px;
  border: 1px solid rgb(229, 229, 229);
  
}

.engineTable td {
  padding: 7px 3px 9px 6px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #222222;
  text-align: center;
}

table.profile{
    border: none;
}
.md-content table.profile td{
    border: none;
    text-align: left;
    border-top: 1px dashed #E4E4E4;
}

.md-content table.profile td.first{
    border-top: none;
}

.profile.fa{
    font-size: 50px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ========================================================================
  2.3 Component: counter
 ========================================================================== */
.counter {
  background: url("../images/counter-bg-1.jpg") no-repeat center fixed;
  background-size: cover;
  color: #fffeff;
}

.counter-section {
  padding: 25px 0 40px;
}
.fact-item {
  color: #fff;
}
.fact-icon {
  position: relative;
  width: 50px;
  height: 28.87px;
  margin: 15px 0px 51px 100px;
}

.fact-item span {
  display: block;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  margin: 28px 0 20px;
}

.fact-icon:before {
  bottom: 100%;
  border-bottom: 15px solid #1F2021;
}
.fact-icon:before, .fact-icon:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
}
.counter .overlay {
  background: rgba(0, 8, 5, 0.85);
}


/* ========================================================================
  2.4 Component:  Career Statistics
 ========================================================================== */
.career {
  background: url("../images/career-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.career .overlay {
  background: rgba(241, 241, 247, 0.9);;
}
.career .jumbo-text {
  text-transform: uppercase;
  color: #272727;
  font-size: 40px;
}
.career p {
  color: #484848;
  line-height: 24px;
  padding-top: 20px;
  text-align: justify;
}
.career img {
  margin-top: -50px;
}
.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
  background: #A0A1A1;
  color: #f3eff0;
  cursor: pointer;
  width: 98%;
  margin-left: 12px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}

.panel-heading {
  padding: 0;
}
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.collapsed {
  background: #ededed !important;
  color: #222;
}
.collapsed strong,
.collapsed .state {
  color: #222222;
}
.state {
  font-size: 18px;
  line-height: 18px;
}

.versus{
  font-size: 16px;
  
}
/* ========================================================================
  2.5: Component:  Chart 
 ========================================================================== */

.chart .col-md-6 {
  padding: 0;
  cursor: pointer;
  color: #fff;
  transition: background .5s;
}
.chart-left .overlay {
  padding-left: 200px;
  padding-right: 50px;
  transition: background .5s;
}
.chart-right .overlay {
  padding-right: 200px;
  padding-left: 50px;
  transition: background .5s;
}
.chart .chart-left {
  background: #fff;
  height: 363px;
}
.chart .chart-right {
  height: 363px;
  background: #F1F4F4;
}
.chart .overlay:hover {
  width: 100%;
  background:  #3399CC;
}
.chart h3 {
  text-shadow: 1px 1px 1px #444;
  font-size: 28px;
  font-weight: bold;
}
.chart .description {
  font-weight: lighter;
}
/* ========================================================================
  2.6 Component: Testimonail
 ========================================================================== */
.testimonial {
  background: url(../images/testimonial-bg-1.png);
}
.testimonial-carousel .item {
  padding: 25px 40px 40px;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  opacity: 0.7;
  border: 1px solid #494545;
}
.testimonial-carousel .item p {
  font-style: italic;
  font-size: 24px;
}
.testimonial-carousel .item .client img,
.testimonial-carousel .item .client ul {
  display: inline-block;
  vertical-align: middle;
}
.testimonial-carousel .item .client img {
  height: 50px;
  width: 50px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.testimonial-carousel .item .client-info {
  margin-left: 10px;
}
.testimonial-carousel .item .client-info li {
  text-align: left;
}
.testimonial-carousel .item .client-info li:first-child {
  font-size: 18px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background:  #3399CC;
}


/* ========================================================================
  2.8 Component: Social & News 
 ========================================================================== */
 .main {
    width: 90%;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
}
 .social-news {
    background: #EFEDED;
    height: 875px;
 }

/* ========================================================================
  2.9 Component: Gallery
 ========================================================================== */
.gallery{
  padding-top: 90px;
  padding-bottom: 60px;
}
.wrapper{
  width:960px;
  margin:20px auto;
  position:relative;
}
.box{
  width:49%;
}
.left{
  float:left;
}
.right{
  float:right;
}

/* Box Gallery style */
.xg_container{
  width: 828px;
  height: 558px;
  background: #A5E0FD url(../images/default.jpg) no-repeat top left;
  position:relative;
  margin:0 auto 60px auto;
  border:14px solid #fff;
  -moz-box-shadow:1px 1px 4px #333;
  -webkit-box-shadow:1px 1px 4px #333;
  box-shadow:1px 1px 4px #333;
}
.xg_bgimages img{
  position:absolute;
  display:none;
  top:0px;
  left:0px;
  width:800px;
  height:530px;
  opacity:0.3;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
.xg_container ul{
  list-style:none;
  margin:0;
  padding:0;
}
ul.xg_menu{
  position:relative;
  z-index:9999;
  background:transparent url(../images/bg.png) no-repeat top left;
  width:800px;
  height:530px;
}
ul.xg_menu li{
  width:266px;
  height:176px;
  float:left;
}
ul.xg_menu li a{
  display:block;
  float:left;
  width:100%;
  text-decoration:none;
  height:100%;
}
ul.xg_menu li a:hover{
  background:none;
}
ul.xg_menu li a span{
  padding:5px;
  display:block;
  text-align:center;
  margin:76px 20px 0px 20px;
  background:#fff;
  color:#333;
  opacity:0.8;
  text-transform:uppercase;
  font-size:18px;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
ul.xg_menu li:hover a{
  opacity:1.0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.xg_preview{
  position:absolute;
  top:0px;
  left:0px;
  width:800px;
  height:530px;
  overflow:hidden;
  z-index:11;
}
.xg_preview img{
  position:absolute;
  display:none;
  left:800px;
  top:0px;
  width:800px;
  height:530px;
}
.xg_nav a{
  width:35px;
  height:50px;
  position:absolute;
  top:50%;
  margin-top:-25px;
  cursor:pointer;
  opacity:0.7;
  z-index:9999;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.xg_nav a:hover
{
  opacity:0.9;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
a.xg_next_image{
  background:#000 url(../images/next.png) no-repeat center center;
  right:0px;
  display:none;
  -moz-border-radius:25px 0px 0px 25px;
  -webkit-border-top-left-radius:25px;
  -webkit-border-bottom-left-radius:25px;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
a.xg_prev_image{
  background:#000 url(../images/prev.png) no-repeat center center;
  left:0px;
  display:none;
  -moz-border-radius:0px 25px 25px 0px;
  -webkit-border-top-right-radius:25px;
  -webkit-border-bottom-right-radius:25px;
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
}
.xg_loader{
  display:none;
  width:50px;
  height:50px;
  background: #000 url(../images/ajax-loader.gif) no-repeat center center;
  position:absolute;
  top:50%;
  left:50%;
  margin:-25px 0px 0px -25px;
  opacity: 0.7;
  z-index:100;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.xg_back{
  display:none;
  background:#000 url(../images/back.png) no-repeat 50% 9px;
  width:68px;
  height:35px;
  position:absolute;
  left:50%;
  margin-left:-34px;
  top:544px;
  cursor:pointer;
  opacity:0.7;
  -moz-border-radius:0px 0px 35px 35px;
  -webkit-border-bottom-left-radius:35px;
  -webkit-border-bottom-right-radius:35px;
  border-bottom-left-radius:35px;
  border-bottom-right-radius:35px;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.xg_back:hover{
  opacity:1.0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

/* ========================================================================
  2.10 Component: subscription & Footer
 ========================================================================== */
.subscription {
  background: url("../images/subscription-bg-2.jpg") no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}
.branded-section {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.masked {
  background: rgba(19, 19, 22, 0.5);
  background-image: url('../images/patern.png');
  width: 100%;
  height: 100%;
  display: block;
  /*padding-bottom: 50px;*/
}
.contact-form form {
  position: relative;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-group {
  margin-bottom: 15px;
}
.lb_wrap {
  width: 95%;
  height: 100%;
  display: inline-block !important;
}
.contact-form .form-control {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  border-width: 2px;
}

.contact-form form {
  position: relative;
  padding-top: 70px;
}
.contact-form .form-control {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  border-width: 2px;
}
.contact-form .form-control:focus {
  border: 2px solid #1C88CA;
}
.contact-form .form-control:focus {
  background: rgba(255, 255, 255, 0.1);
}

.subscription-border {
  background: url(../images/border-1.jpg);
  height: 6px;
  margin-bottom: 40px;
}
.subscription-margin{
  margin-left: 20px;
  
}
.subscription .overlay {
  background: rgba(27, 28, 29, 0.9);
}



.subs-button {
  float: left;
  min-width: 150px;
  max-width: 320px;
  display: block;
  margin-left: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}


.button--round-s {
  border-radius: 5px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

.button.button--shikoba {
  padding: 10px;
    overflow: hidden;
    font-size: 15px;
    background: #1C88CA;
    color: #fff;
    border: 1px solid #7CC0EA;
    /* margin-top: 43px; */
   font-weight: 200;
   width: 100%;
   -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--shikoba.button--inverted {
  color: #fff;
  background: #7986cb;
}
.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba .button__icon {
  position: absolute;
  left: 20px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--shikoba:hover {
  background: #3f51b5;
  border-color: #3f51b5;
  color: #fff;
}

.copyright{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-family: inherit;
  font-weight: 200;
}


 .padding-footer{

    padding-top: 10px;
    padding-bottom: 30px;
    opacity: 1;
    margin-top: 85px;
 }

/*================ Loader=========================*/
/* DEMO 2 */



.demo-2 .spinner {
    position: relative;
    font-size: 100px;
    width: 1em;
    height: 1em;
    margin: 240px auto;
    border-radius: 50%;
    background: #123456;
    box-shadow: inset 0 0 0 .12em rgba(0,0,0,0.2), 0 0 0 .12em rgba(255,255,255,0.1);
    background:
        -webkit-linear-gradient(#ea2d0e 50%, #fcd883 50%),
        -webkit-linear-gradient(#fcd883 50%, #ea2d0e 50%);
    background:
        -webkit-linear-gradient(#ea2d0e 50%, #ffdd72 50%), -webkit-linear-gradient(#ffdd72 50%, #ea2d0e 50%);
    background:
        linear-gradient(#ea2d0e 50%, #ffdd72 50%),
        linear-gradient(#ffdd72 50%, #ea2d0e 50%);
    background-size: 50% 100%, 50% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    opacity: 0.7;
    -webkit-animation: mask 3s infinite alternate;
    animation: mask 3s infinite alternate;
}

.demo-2 .spinner:after {
    content: "";
    position: absolute;
    border: .12em solid rgba(255,255,255,0.3);
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: inherit;
}

@-webkit-keyframes mask {
    0% { }
    25%  { -webkit-transform: rotate(270deg); }
    50%  { -webkit-transform: rotate( 90deg); }
    75%  { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@keyframes mask {
    0% { }
    25%  { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
    50%  { -webkit-transform: rotate( 90deg); transform: rotate( 90deg); }
    75%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
}

    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px;}
